<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<form action="" method="post">
    <h1 align="center">Insert data</h1>
    <table cellpadding="10" align="center">
        <tr>
            <td>Age</td>
            <td>Fare</td>
            <td colspan="3">Class</td>
            <td colspan="2">Sex</td>
            <td colspan="2">SibSp</td>
        </tr>
        <tr>
            <td><input required name="age" min='0' type="number"></td>
            <td><input required name="fare" min='0' type="number"></td>
            <td>1<input required name="class" type="radio" value="1"></td>
            <td>2<input name="class" type="radio" value="2"></td>
            <td>3<input name="class" type="radio" value="3"></td>
            <td>Male<input required name="sex" type="radio" value="male"></td>
            <td>Female<input name="sex" type="radio" value="female"></td>
            <td><input required name="sibsp" min='0' type="number" value="female"></td>
        </tr>
        <tr>
            <td>
                <input type="submit">
            </td>
        </tr>
    </table>
</form>

</body>
</html>